<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LayerTransformDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E446E3381E5404CE00DF5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E446E3511E5404CF00DF5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E446E35C1E5404CF00DF5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
