<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageChangeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4B26EBE1E52AA0900F8D149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B26ED71E52AA0900F8D149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B26EE21E52AA0900F8D149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
