<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arcTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E42278701EAB021F00B7F5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42278891EAB022000B7F5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42278941EAB022000B7F5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
